.about-list {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 20px;

  counter-reset: about-list-counter;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 150px;
    row-gap: 37px;
  }

  @media (min-width: $desktop-width) {
    gap: 93px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.about-list__item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  counter-increment: about-list-counter;

  @media (min-width: $tablet-width) {
    width: 33%;
    min-height: 280px;
    align-items: normal;
    flex-direction: column;
    gap: 32px;
  }

  @media (min-width: $laptop) {
    width: 42%;
  }

  @media (min-width: $desktop-width) {
    width: 19%;
  }
}

@media (min-width: $tablet-width) {
  .about-list__item::after {
    font-family: "Oswald Regular", $arial;
    font-size: 280px;

    content: counter(about-list-counter);

    position: absolute;
    color: $basic_grey;
    z-index: -1;
    top: -78px;
    right: -14px;
  }

  .about-list__item:first-child::after {
    right: 4px;
  }
}

.about-list__text {
  font-family: $arial;
  margin: 0;
  padding: 0;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.about-list__image {
  background-color: $basic_green;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 60px;
  min-height: 60px;

  @media (min-width: $tablet-width) {
    max-width: 80px;
    min-height: 80px;
  }
}

.about-list__image--leaf {
  background-image: url("../../img/icons/leaf.svg");
}

.about-list__image--tube {
  background-image: url("../../img/icons/tube.svg");
}

.about-list__image--food {
  background-image: url("../../img/icons/food.svg");
}

.about-list__image--alarm {
  background-image: url("../../img/icons/alarm.svg");
}
