.about {
  background-color: $white;
  color: $black;
}

.about__wrapper {
  position: relative;
  padding: 0 20px 49px 21px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 7px 30px;
    margin: 0 0 43px 0;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      left: 0;
      bottom: 0;

      background-color: #e6e6e6;
    }

    @media (min-width: $desktop-width) {
      &::after {
        display: none;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 0;
  }
}

.about__title {
  padding: 0;
  margin: 0 0 40px 0;

  font-size: 36px;
  font-weight: 400;
  line-height: 1.11;

  @media (min-width: $tablet-width) {
    margin: 0 0 72px 0;
    font-size: 60px;
    line-height: 60px;
  }
}
