.additional-gift {
  padding: 0 61px 0 58px;
  background-image: url("../../img/background/additional-gift-bg.png");
  background-repeat: no-repeat;
  background-size: cover;

  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(104, 183, 56, 0.85);
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 289px;

  gap: 48px;

  @media (min-width: $tablet-width) {
    padding: 0 77px 0 124px;
    min-height: 200px;

    flex-direction: row;
    justify-content: space-around;
    background-image: url("../../img/background/additional-gift-bg-tablet.png");
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    background-image: url("../../img/background/additional-gift-bg-desktop.png");

    flex-direction: column;
    justify-content: space-around;
  }
}

.additional-gift__text {
  margin: 0;
  padding: 0;

  text-align: center;
  font-family: $arial;
  font-size: 16px;
  line-height: 1.25;
}
