.additional-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    border: 1px solid $special_grey;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    min-width: 907px;
    border: none;
    padding: 0 0 15px 0;
    border-bottom: 1px solid $special_grey;
  }
}

.additional-list__item {
  display: flex;
  flex-direction: column;

  margin: 0 0 19px 0;
  border-top: 1px solid $special_grey;

  @media (min-width: $tablet-width) {
    margin: 0 0 28px 0;
    padding: 25px 38px 0 38px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 16px 0;
    padding: 15px 0 0 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.additional-list__item:first-child {
  @media (min-width: $tablet-width) {
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    border-top: 1px solid $special_grey;
  }
}

.additional-list__item:last-child {
  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $special_grey;
    padding-bottom: 19px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.additional-list__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin: 0 0 21px 0;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 68%;
    margin: 0;

    align-items: center;
  }
}

.additional-list__title {
  margin: 14px 0 10px 0;

  color: $special_dark-grey-2;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 50%;
    margin: 0;

    font-size: 20px;
    line-height: 1;
    word-wrap: break-word;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 50%;
  }
}

.additional-list__description {
  margin: 0 0 16px 0;
  display: flex;
  justify-content: space-between;

  color: $special_dark-grey;
  font-family: $arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;

  @media (min-width: $tablet-width) {
    width: 40%;
    margin: 0;
    font-size: 16px;
    line-height: 1.25;

    padding: 4px 0 0 0;

    justify-content: flex-end;
    align-items: center;
    gap: 49px;
  }

  @media (min-width: $desktop-width) {
    margin: 7px 4px 0px 4px;
    width: 48%;
    padding: 0;
    gap: 0;
    justify-content: space-between;
  }
}

.additional-list__button {
  @media (min-width: $desktop-width) {
    width: 27%;
    margin-right: 12px;
  }
}
