.additional-gift {
  box-sizing: border-box;
  padding: 31px 20px 20px 20px;
  background-image: image-set(
    url("../../img/background/additional-gift-bg.png") 1x,
    url("../../img/background/additional-gift-bg@2x.png") 2x
  );
  background-repeat: no-repeat;
  background-size: cover;

  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(104, 183, 56, 0.85);
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 289px;

  gap: 46px;

  @media (min-width: $tablet-width) {
    padding: 0 124px 0 77px;
    min-height: 200px;

    flex-direction: row;
    justify-content: space-between;
    background-image: image-set(
      url("../../img/background/additional-gift-bg-tablet.png") 1x,
      url("../../img/background/additional-gift-bg-tablet@2x.png") 2x
    );
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    gap: 0;
    background-image: image-set(
      url("../../img/background/additional-gift-bg-desktop.png") 1x,
      url("../../img/background/additional-gift-bg-desktop@2x.png") 2x
    );

    flex-direction: column;
    justify-content: space-around;
  }
}

.additional-gift__text {
  width: 65%;
  margin: 0;
  padding: 0;

  text-align: center;
  font-family: $arial;
  font-size: 16px;
  line-height: 1.25;

  @media (min-width: $tablet-width) {
    width: 33%;
    text-align: start;
  }

  @media (min-width: $laptop) {
    width: 65%;
    text-align: center;
  }
}
