.additional {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.additional__title {
  margin: 0 0 35px 0;
  display: inline;
  background-color: $white;

  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    padding: 0 37px 0 37px;

    font-size: 36px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px 0 40px;
    margin-left: -40px;
  }
}

.additional__title-wrapper {
  position: relative;
  margin: 0 0 37px 0;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: $basic_green;

    top: 50%;
    left: 20px;
    z-index: -1;

    @media (min-width: $tablet-width) {
      left: 70px;
    }

    @media (min-width: $desktop-width) {
      left: 110px;
    }
  }

  @media (min-width: $tablet-width) {
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      background-color: $basic_green;

      top: 50%;
      left: -110px;
      z-index: -1;
    }
  }
}

.additional__wrapper {
  display: flex;
  flex-direction: column;
  gap: 35px;

  @media (min-width: $tablet-width) {
    gap: 69px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 86px 0;
    flex-direction: row;
    justify-content: space-between;
  }
}
