.card {
  padding: 22px 20px 22px 20px;
  background-color: $basic_grey;

  display: grid;
  grid-template-areas:
    "image title title"
    "text text text"
    "card_link card_link card_link";

  grid-template-columns: min-content max-content 1fr;
  grid-template-rows: min-content 1fr min-content;

  @media (min-width: $tablet-width) {
    padding: 77px 62px 57px 52px;
    grid-template-areas:
      "title title image"
      "text text image"
      "card_link card_link image";

    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: max-content auto min-content;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding: 41px 51px 59px 52px;
    grid-template-areas:
      "image title title"
      "text text text"
      "card_link card_link card_link";
  }
}

.card__title {
  grid-area: title;

  margin: 0 0 0 19px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.54;
  text-transform: uppercase;

  justify-self: auto;
  align-self: center;
  // letter-spacing: -0.6px;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 0;
    font-size: 36px;
    justify-self: flex-start;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 62px;
  }
}

.card__text {
  grid-area: text;

  font-family: $arial;
  padding: 0 0 23px 0;
  color: $special_dark-grey;
  margin: 24px 0 20px 0;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding: 0 54px 23px 0;
    border-bottom: none;
    font-size: 16px;
    line-height: 1.5;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 23px 0;
  }
}

.card__text--weight-lose {
  padding: 0 0 22px;
  margin: 22px 0 19px;
}

.card__text--mass-gain {
  padding: 0 0 21px;
  margin: 24px 0 19px;
}

.card__image-wrapper {
  position: relative;
  grid-area: image;
  width: 50px;
  height: 50px;
  background-color: $basic_green;
  border-radius: 50%;

  @media (max-width: $mobile-width-only) {
    margin: 2px 0 0 2px;
  }

  @media (min-width: $mobile-l-size) {
    width: 75px;
    height: 75px;
  }

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
  }
}

.card__image {
  position: absolute;
  top: -3px;
  left: 8px;

  @media (min-width: $mobile-l-size) {
    width: 75px;
    height: 75px;

    top: -3px;
    left: 3px;
  }

  @media (min-width: $tablet-width) {
    width: 140px;
    height: 194px;

    top: -11px;
    left: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 97px;

    top: -6px;
    left: 16px;
  }
}

.card__image--mass-gain {
  top: 11px;
  left: -9px;

  @media (min-width: $mobile-l-size) {
    top: 9px;
    left: -13px;
    width: 97px;
    height: 57px;
  }

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 112px;

    top: 44px;
    left: -37px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 56px;

    top: 20px;
    left: -19px;
  }
}

.card__link {
  grid-area: card_link;
  max-width: 200px;

  display: flex;
  gap: 12px;
  align-items: center;

  color: $black;

  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
  }

  &:hover {
    .card__link-image::before {
      width: 26px;
    }

    .card__link-image::after {
      right: 0;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.card__link-image {
  position: relative;
  width: 32px;
  height: 16px;

  &::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 2px;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -13px;
    background-color: $black;

    transition: width 0.3s;
  }

  &::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    right: 5px;
    top: 2px;

    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;

    border-left: 6px solid $black;

    transition: right 0.3s;
  }
}
