// .card {
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   padding: 21px 33px 18px 20px;
//   background-color: $basic_grey;
// }

// .card__title {
//   margin: 0 0 29px 0;
//   padding: 0;
//   font-size: 24px;
//   font-weight: 400;
//   line-height: 37px;
//   text-transform: uppercase;
//   text-align: center;
// }

// .card__text {
//   color: $special_dark-grey;
//   margin: 0 0 15px 0;
//   padding: 0 0 22px 0;
//   border-bottom: 1px solid #d9d9d9;
// }

// .card__image {
//   position: absolute;
//   top: 31px;
// }

// .card__link {
//   color: $black;

//   font-size: 16px;
//   font-weight: 400;
//   line-height: 16px;
//   text-decoration: none;
//   text-transform: uppercase;
// }

.card {
  padding: 21px 33px 18px 20px;
  background-color: $basic_grey;

  display: grid;
  grid-template-areas:
    "image title title"
    "text text text"
    "card_link card_link card_link";

  @media (min-width: $tablet-width) {
    grid-template-areas:
      "title title image"
      "text text image"
      "card_link card_link image";
  }

  @media (min-width: $desktop-width) {
    grid-template-areas:
      "image title title"
      "text text text"
      "card_link card_link card_link";
  }
}

.card__title {
  grid-area: title;

  margin: 0;
  padding: 0 0 29px 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;
}

.card__text {
  grid-area: text;

  color: $special_dark-grey;
  margin: 0 0 20px 0;
  padding: 0 0 23px 0;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.card__image {
  grid-area: image;
}

.card__link {
  grid-area: card_link;

  color: $black;

  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
}
