.catalog-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 17px;

  @media (min-width: $tablet-width) {
    gap: 60px;
    row-gap: 141px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    gap: 80px;
    row-gap: 143px;
  }
}

.catalog-list__item {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 165px;
  margin: 0;
  padding: 0 0 29px;
  display: grid;
  grid-template-columns: 50% 27% 23%;
  grid-template-rows: min-content 11px 1fr min-content;

  @media (max-width: $mobile-width-only) {
    &::after {
      position: absolute;
      content: "";
      width: 100vw;
      left: -20px;
      height: 1px;
      background-color: $special_grey-2;
      bottom: 0;
    }

    &:nth-child(even) {
      .catalog-list__item-image {
        width: 84px;
        height: 100px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    width: 44%;
    min-width: 324px;
    padding: 0 0 40px 0;
    background-color: #f2f2f2;
    grid-template-areas:
      ". image ."
      ". title ."
      ". description ."
      ". button .";
    grid-template-columns: minmax(37px, auto) minmax(159px, 431px) minmax(
        37px,
        auto
      );
    grid-template-rows: 171px min-content min-content min-content;

    &:nth-child(even) {
      .catalog-list__item-image {
        width: 172px;
        height: 202px;
        margin-top: -30%;
      }
    }
  }

  &:last-child {
    .catalog-list__item-image {
      width: 30px;
      height: 30px;
      margin-top: 0;

      @media (min-width: $tablet-width) {
        margin-bottom: 0;
        width: 60px;
        height: 60px;
      }
    }
  }

  @media (min-width: 1024px) {
    width: 29%;
    min-width: 280px;
  }

  @media (min-width: $desktop-width) {
    width: 20%;
    min-width: 245px;

    padding: 0 0 40px 0;
  }

  @media (min-width: 1980px) {
    width: 16%;
  }
}

.catalog-list__item-title {
  margin: 0;
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    grid-area: title;
    justify-self: center;

    font-size: 20px;
    line-height: 1.2;

    margin: -12px 0 23px 0;

    width: 62%;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    width: 80%;
    margin: -10px 0 23px 0;
  }
}

picture {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  text-align: center;
  align-self: self-end;

  @media (min-width: $tablet-width) {
    grid-area: image;
    justify-self: center;
  }
}

.catalog-list__item-image {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  // padding: 14px 36px 12px 36px;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 161px;
    height: 172px;
    grid-area: image;
    justify-self: center;

    margin: -20% 0 34px 0;
  }
}

.catalog-list__button {
  width: 100%;
  margin: 19px 0 0 0;
  padding: 10px 0;
  grid-row: 4 / 5;
  grid-column: 1 / -1;

  border: none;
  background-color: $basic_green;
  color: $white;

  font-family: "Oswald Regular", $arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    grid-area: button;
    margin: 0;
  }
}

.catalog-list__item—show-all {
  width: 100%;

  display: grid;
  grid-template-columns: auto max-content auto;
  grid-template-rows: 2fr min-content min-content min-content;

  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    grid-template-columns: minmax(37px, auto) minmax(159px, 431px) minmax(
        37px,
        auto
      );
    grid-template-rows: 160px min-content min-content min-content;

    width: 44%;
    background-color: $white;
    box-shadow: 0 0 1px 1px $basic_grey;
    text-align: center;
  }

  @media (min-width: 1024px) {
    width: 29%;
    min-height: 431px;
  }

  @media (min-width: $desktop-width) {
    max-width: 20%;
    min-height: 429px;
    max-height: 431px;
  }

  @media (min-width: 1980px) {
    width: 16%;
  }
}

.catalog-list__item—show-all--image {
  margin: 0 0 25px 0;
  padding: 0;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
}

.catalog-list__item—show-all--subtitle {
  margin: 0 0 8px 0;

  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: center;

  @media (min-width: $tablet-width) {
    margin: 0 0 20px 0;
  }
}

.catalog-list__item—show-all--text {
  margin: 0 0 21px 0;
  color: $special_dark-grey;

  grid-column: 2 / 3;
  grid-row: 3 / 4;
  justify-self: center;

  font-family: $arial;
  font-size: 12px;

  @media (min-width: $tablet-width) {
    margin: 0 0 87px 0;
    padding: 0 12px;

    font-size: 16px;
    line-height: 1.12;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.catalog-list__item—show-all--button {
  margin: 0;
  grid-column: 1 / 4;
  grid-row: 4 / 5;

  background-color: $basic_grey;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    margin: auto auto 38px;
  }

  &:hover {
    background-color: $special_grey-2;
  }
}
