.catalog-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: center;
  justify-content: flex-start;
  gap: 19px;

  @media (min-width: $tablet-width) {
    gap: 60px;
    row-gap: 141px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    gap: 80px;
    row-gap: 143px;
  }
}

.catalog-list__item {
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 24px 0;

  display: grid;
  grid-template-columns: 140px 2fr 1fr;
  grid-template-rows: min-content 14px 1fr min-content;

  border-bottom: 1px solid $special_grey-2;

  @media (min-width: $tablet-width) {
    // width: 45%;
    // min-width: 324px;
    // background-color: $basic_grey;

    // grid-template-areas:
    //   ". image ."
    //   ". title ."
    //   ". description ."
    //   ". button .";

    // grid-template-columns:
    //   minmax(37px, 41px)
    //   minmax(248px, auto)
    //   minmax(37px, 41px);
    // grid-template-rows: 191px min-content min-content min-content;

    width: 44%;
    min-width: 324px;
    background-color: #f2f2f2;
    grid-template-areas:
      ". image ."
      ". title ."
      ". description ."
      ". button .";
    grid-template-columns: minmax(37px, auto) minmax(159px, 431px) minmax(
        37px,
        auto
      );
    grid-template-rows: 191px min-content min-content min-content;

    &:nth-child(even) {
      .catalog-list__item-image {
        width: 172px;
        height: 202px;
        margin-top: -30%;
      }
    }

    &:last-child {
      .catalog-list__item-image {
        margin-top: 0;
        width: 60px;
        height: 60px;
      }
    }
  }

  @media (min-width: 1024px) {
    width: 29%;
    min-width: 280px;
  }

  @media (min-width: $desktop-width) {
    width: 20%;
    min-width: 245px;
  }

  @media (min-width: 1980px) {
    width: 16%;
  }
}

.catalog-list__item-title {
  margin: 0;
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    grid-area: title;
    justify-self: center;

    margin: 0 0 21px 0;
  }
}

.catalog-list__item-image {
  grid-column: 1 / 2;
  grid-row: 1 / 4;

  @media (min-width: $tablet-width) {
    width: 161px;
    height: 172px;
    grid-area: image;
    justify-self: center;

    margin: -20% 0 34px 0;
  }
}

.catalog-list__button {
  width: 100%;
  margin: 13px 0 0 0;
  padding: 10px 0;
  grid-row: 4 / 5;
  grid-column: 1 / -1;

  border: none;
  background-color: $basic_green;
  color: $white;

  font-family: "Oswald Regular", $arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    grid-area: button;
  }
}

.catalog-list__item—show-all {
  width: 100%;

  display: grid;
  grid-template-columns: auto max-content auto;
  grid-template-rows: 2fr min-content min-content min-content;

  @media (min-width: $tablet-width) {
    width: 44%;
  }

  @media (min-width: 1024px) {
    width: 29%;
    min-height: 431px;
  }

  @media (min-width: $desktop-width) {
    max-width: 20%;
    min-height: 429px;
  }

  @media (min-width: 1980px) {
    width: 16%;
  }
}

.catalog-list__item—show-all--image {
  margin: 0 0 23px 0;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
}

.catalog-list__item—show-all--subtitle {
  margin: 0 0 8px 0;

  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: center;
}

.catalog-list__item—show-all--text {
  margin: 0 0 21px 0;
  color: $special_dark-grey;

  grid-column: 2 / 3;
  grid-row: 3 / 4;
  justify-self: center;
}

.catalog-list__item—show-all--button {
  margin: auto auto 13px;
  grid-column: 1 / 4;
  grid-row: 4 / 5;

  background-color: $basic_grey;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    width: 76%;
  }
}
