.description-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  grid-column: 2 / 4;
  grid-row: 3 / 4;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    grid-area: description;
    margin: 0 0 33px 0;

    gap: 8px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 33px 4px;
  }
}

.description-list__item {
  display: flex;
  justify-content: space-between;

  font-size: 12px;
  font-family: $arial;
  line-height: 1.48;

  @media (min-width: $tablet-width) {
    padding: 0 0 7px 0;
    border-bottom: 1px solid $special_grey;

    font-size: 16px;
    line-height: 1;
  }
}
