.description-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  grid-column: 2 / 4;
  grid-row: 3 / 4;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    grid-area: description;
    margin: 0 0 33px 0;

    gap: 16px;
  }
}

.description-list__item {
  display: flex;
  justify-content: space-between;

}
