.food-category {
  background-color: $white;
  color: $black;
}

.food-category__wrapper {
  padding: 20px 27px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}
