.food-category {
  background-color: $white;
  color: $black;
}

.food-category__wrapper {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 45px 30px;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 74px 110px 71px 110px;
    flex-direction: row;
    justify-content: center;

    gap: 80px;
  }
}
