.functional-food {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 480px;
  color: $white;
  text-align: center;

  @media (min-width: $tablet-width) {
    color: $black;
    min-height: 706px;
    padding: 51px 120px 104px 120px;
  }

  @media (min-width: $desktop-width) {
    padding: 222px 190px 0 190px;
    min-height: 480px;
  }
}

.functional-food__wrapper {
  @media (max-width: $mobile-width-only) {
    min-height: 302px;
    display: flex;
    flex-direction: column;
    background-image: image-set(
      url("../../img/background/index-background-image-mobile.png") 1x,
      url("../../img/background/index-background-image-mobile@2x.png") 2x
    );

    box-shadow: inset 0 0 0 1000px rgba(104, 183, 56, 0.85);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(104, 183, 56, 1);
    background-position: center;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    text-align: center;
  }
}

.functional-food__background {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    position: absolute;

    width: 50%;
    min-height: 694px;

    background-image: image-set(
      url("../../img/background/index-background-image-desktop.png") 1x,
      url("../../img/background/index-background-image-desktop@2x.png") 2x
    );
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(104, 183, 56, 0.85);

    top: 0;
    right: 0;

    z-index: -1;
  }
}

.functional-food__title {
  margin: 26px 0 24px 0;
  padding: 0 35px 0 36px;

  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    width: 85%;
    margin: 0 0 41px 0;
    padding: 0;
    text-align: start;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
  }
}

.functional-food__text {
  margin: 0;
  padding: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0 0 49px 0;
    text-align: start;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 52px 0;
  }
}

.functional-food__image {
  position: absolute;
  left: 50%;
  margin-left: -140px;
  top: 64%;
  margin-top: -140px;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
    position: absolute;
    left: 28%;
    margin-left: -186px;
    top: 28%;
    margin-top: 12px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    left: 39%;
    margin-left: -4px;
    top: 20%;
    margin-top: 0;
    z-index: 0;
  }
}

.functional-food__button {
  font-family: "Oswald Regular", $arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: $white;
  padding: 11px 0;
  background-color: $basic_green;
  border: none;

  margin: auto 20px 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
    align-self: start;
    padding: 17px 27px;
    font-size: 20px;
    line-height: 1;
  }
}
