.functional-food {
  position: relative;
  height: 480px;

  @media (max-width: $mobile-width-only) {
    color: $white;
    text-align: center;
  }
}

.functional-food__wrapper {
  @media (max-width: $mobile-width-only) {
    height: 302px;
    display: flex;
    flex-direction: column;
    background-image: url("../../img/background-green.png"),
      url("../../img/index-background-image.png");
    background-color: rgba(104, 183, 56, 0.85);
  }
}

.functional-food__title {
  margin: 27px 0 0;
  padding: 0;
}

.functional-food__text {
  margin: 25px 0 0;
  padding: 0;
}

.functional-food__image {
  position: absolute;
  left: 50%;
  margin-left: -140px;
  top: 64%;
  margin-top: -140px;
}

.functional-food__button {
  font-family: "Oswald Regular", $arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: $white;
  padding: 11px 0;
  background-color: $basic_green;
  border: none;
}
