.live-example {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  min-height: 700px;
  padding: 25px 20px 40px 20px;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    background-color: #f2f2f2;

    display: flex;
    justify-content: space-between;


    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 179px;
      top: 0;
      left: 0;
      background-color: $white;
      z-index: 1;
    }
  }
}

.live-example__title {
  margin: 0 0 40px 0;
  padding: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.11;

  @media (min-width: $tablet-width) {
    margin: 0 0 55px 0;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 76px 0;
    width: 100%;

    z-index: 1;
  }
}

.live-example__text {
  margin: 0 0 20px 0;
  padding: 0;
  font-family: $arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;

  @media (min-width: $tablet-width) {
    margin: 0 0 42px 0;
    padding: 10px 10px 10px 0;

    font-size: 16px;
    line-height: 1.5;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 69px 0;
    width: 100%;
  }
}

.live-example__description-wrapper {
  @media (min-width: $tablet-width) {
    min-height: 576px;
    background-color: #ffffff;
    padding: 0 20px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 35%;
    padding: 0;
    background-color: #f2f2f2;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
