.main-header {
  background-color: $white;
  color: $black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  @media (max-width: $mobile-width-only) {
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    position: absolute;
  }
}

.main-header__logo {
  height: 38px;

  @media (min-width: $tablet-width) {
    height: 52px;
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
    width: 202px;
  }
}

.main-header__toggle {
  background-color: $white;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
