.main-nav-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 440px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  @media (min-width: $desktop-width) {
    color: $white;
  }

  display: none;
}

.main-nav-list__link {
  width: 100%;
  padding: 22px 0 24px 0;
  color: $black;
  background-color: $white;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  display: block;
  text-decoration: none;

  @media (min-width: $desktop-width) {
    color: inherit;
    background-color: transparent;
  }
}

.main-nav-list--dark {
  color: $black;
}

.main-nav-list__item--current {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: $basic_green;

  @media (min-width: $desktop-width) {
    text-decoration-color: $white;
  }
}
