.main-nav-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 440px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    min-width: 527px;
    color: $white;
  }
}

.main-nav-list > * {
  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid #e6e6e6;
  }
}

.main-nav--closed .main-nav-list {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.main-nav--opened .main-nav-list {
  @media (max-width: $mobile-width-only) {
    display: flex;
  }
}

.main-nav--nojs .main-nav-list {
  @media (max-width: $mobile-width-only) {
    width: 100%;
    display: flex;
    position: absolute;
    top: 66px;
    left: 0;
    z-index: 1;
  }
}

.main-nav-list__link {
  width: 100%;
  padding: 22px 0 24px 0;
  color: $black;
  background-color: $white;

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  display: block;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 18px;

    line-height: 1.3;
    text-transform: uppercase;
  }

  @media (min-width: $desktop-width) {
    color: inherit;
    background-color: transparent;

    font-size: 20px;

    line-height: normal;
    text-transform: uppercase;
  }
}

.main-nav-list--dark {
  color: $black;
}

.main-nav-list__item--current {
  @media (max-width: $mobile-width-only) {
    text-decoration: none;
  }

  text-decoration: underline 2px;
  text-underline-offset: 10px;
  text-decoration-color: $basic_green;
}

.main-nav-list__item-green-text--decoration {
  @media (min-width: $desktop-width) {
    text-decoration-color: $white;
  }
}
