.page {
  font-family: "Oswald Regular", $arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $black;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: $white;
  color: #000000;
}
