.program-form {
  padding: 0;

  display: flex;
  flex-direction: column;
}

.program-form__fieldset {
  margin: 0 0 25px 0;
  padding: 0;
  border: none;

  display: flex;
  flex-direction: column;
}

.program-form__fieldset--option {
  display: flex;
  flex-direction: column;
  gap: 13px;

  @media (min-width: $tablet-width) {
    padding: 30px 28px 30px 28px;
    border: 1px solid #e7e7e7;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
  }
}

.program-form__fieldset-wrapper {
  margin: 0 0 25px 0;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin: 0 0 75px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 69px 0;
    flex-direction: row;
    gap: 80px;
  }
}

.program-form__fieldset--pet-info {
  margin: 0;
  flex-grow: 1;
}

.program-form__fieldset--checkbox {
  gap: 12px;

  @media (min-width: $tablet-width) {
    margin: 0 0 54px 0;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    column-gap: 124px;
    row-gap: 32px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 61px 0;
    flex-wrap: nowrap;
    gap: 105px;
  }
}

.program-form__wrapper {
  display: flex;
  flex-direction: row;
  gap: 14px;
  margin: 0 0 14px 0;
}

.program-form__label {
  color: $special_dark-grey;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.program-form__input {
  font-family: "Oswald Regular", $arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  flex-grow: 1;

  color: $special_dark-grey;
}

.program-form__title {
  margin: 0 0 37px 0;
  padding: 0;

  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.program-form__option {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.program-form__option-label {
  color: $special_dark-grey-2;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.program-form__option-input {
  margin: 0;
  padding: 0;
}

.program-form__comments {
  margin: 0 0 23px 0;
  display: flex;
  flex-direction: column;
}

.program-form__textarea {
  font-family: "Oswald Regular", $arial;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;

  min-width: 280px;
  min-height: 150px;
  padding: 10px 12px 10px 15px;
  box-sizing: border-box;

  color: $special_dark-grey;
}

.program-form__wrapper-checkbox {
  display: flex;
  flex-direction: row;
  gap: 16px;

  @media (min-width: $tablet-width) {
    width: 33%;
  }
}

.program-form__checkbox {
  margin: 0;
  padding: 0;
}

.program-form__form-label {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.program-form__form-button-wrapper {
  margin: 0 0 32px 0;
  display: flex;
  flex-direction: column;
  gap: 21px;

  @media (min-width: $tablet-width) {
    margin: 0 0 72px 0;
    flex-direction: row;
    gap: 61px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 82px 0;
    gap: 81px;
  }
}

.program-form__submit-button {
  margin: 0;

  font-family: "Oswald Regular", $arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.program-form__required-fields-text {
  align-self: center;

  @media (min-width: $tablet-width) {
    width: 50%;
  }
}
