.program-form {
  padding: 0;

  display: flex;
  flex-direction: column;
}

.program-form__fieldset {
  margin: 0 0 27px 0;
  padding: 0;
  border: none;

  display: flex;
  flex-direction: column;
}

.program-form__fieldset--cat-owner {
  margin: 0;
}

.program-form__fieldset--option {
  display: flex;
  flex-direction: column;
  gap: 9px;

  padding: 22px 0 20px 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 25px 28px 25px 28px;
    border: 1px solid #e7e7e7;
    margin: 0 0 0 0;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    padding: 25px 24px;
    gap: 10px;
  }
}

.program-form__fieldset-wrapper {
  position: relative;
  margin: 0 0 25px 0;

  display: flex;
  flex-direction: column;

  @media (max-width: $mobile-width-only) {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -20px;
      width: 100vw;
      height: 1px;
      background-color: #d9d9d9;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 75px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 70px 0;
    flex-direction: row;
    gap: 80px;
  }
}

.program-form__fieldset--pet-info {
  position: relative;
  margin: 0;
  flex-grow: 1;
  padding: 0 0 9px 0;

  @media (max-width: $mobile-width-only) {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -20px;
      width: 100vw;
      height: 1px;
      background-color: #d9d9d9;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0 0 61px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;

    gap: 16px;
  }
}

.program-form__fieldset--pet-info .program-form__wrapper {
  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.program-form__fieldset--checkbox {
  gap: 12px;

  @media (min-width: $tablet-width) {
    margin: 55px 0 48px 0;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    column-gap: 136px;
    row-gap: 32px;
  }

  @media (min-width: $desktop-width) {
    margin: 52px 0 62px 0;
    // flex-wrap: nowrap;
    column-gap: 130px;
    row-gap: 30px;
  }
}

.program-form__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin: 0 0 16px 0;
  width: 100%;
  max-width: 628px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0 0 14px;
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    max-width: 647px;
  }
}

.program-form__fieldset--cat-owner-wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;

  @media (min-width: $tablet-width) {
    padding: 40px 0 42px;
    gap: 24px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding: 40px 0 44px;
    gap: 78px;
  }
}

.program-form--cat-owner-data {
  margin: 0;
}

.program-form__label {
  color: $special_dark-grey;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.program-form__label--age {
  letter-spacing: -0.8px;
}

.program-form__input {
  font-family: "Oswald Regular", $arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  flex-grow: 1;

  color: $special_dark-grey;

  padding: 12px 10px 12px 16px;
  border: 1px solid #e7e7e7;

  &:hover {
    outline: 1px solid $special_grey;
  }

  &:focus {
    outline: 2px solid $special_dark-grey;
  }

  @media (min-width: $tablet-width) {
    padding: 12px 10px 12px 14px;

    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 12px 10px 12px 17px;
  }
}

.program-form__title {
  display: inline;
  background-color: $white;
  margin: 0;
  padding: 0 22px 0 0;

  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1;

  @media (min-width: $tablet-width) {
    padding: 0 39px 0 39px;
    margin-left: -39px;

    font-size: 36px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px 0 40px;
    margin-left: -40px;
  }
}

.program-form--cat-owner-title {
  @media (max-width: $mobile-width-only) {
    display: block;
    max-width: 350px;
    margin-right: 55px;
  }
}

.programm-form__title-wrapper {
  position: relative;
  margin: 0 0 35px 0;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    margin-top: 2px;
    background-color: $basic_green;

    top: 50%;
    left: 20px;
    z-index: -1;

    @media (min-width: $tablet-width) {
      left: 70px;
    }

    @media (min-width: $desktop-width) {
      left: 110px;
    }
  }

  @media (min-width: $tablet-width) {
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      margin-top: 2px;
      background-color: $basic_green;

      top: 50%;
      left: -110px;
      z-index: -1;
    }
  }
}

.program-form--cat-owner-title-wrapper {
  padding: 0 22px 0 0;

  @media (max-width: 480px) {
    &::after {
      top: 30%;
      margin-top: 0;
    }
  }
}

.program-form__option {
  position: relative;
}

.program-form__option-label {
  position: relative;
  color: $special_dark-grey-2;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.12;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  gap: 16px;

  cursor: pointer;

  &:hover {
    .program-form__option-radio-button {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
      border: 1px solid #bababa;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.program-form__option-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.program-form__option-input[type="radio"]:checked
  + .program-form__option-radio-button::before {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: $basic_green;
  content: "";

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
  }
}

.program-form__option-input[type="radio"]:checked
  + .program-form__option-radio-button {
  outline: 1px solid $basic_green;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.program-form__option-input[type="radio"]:focus
  + .program-form__option-radio-button {
  outline: 2px solid $black;
}

.program-form__option-label--disabled {
  opacity: 0.3;
  pointer-events: none;

  .program-form__option-input[type="radio"]:disabled
    + .program-form__option-radio-button {
    opacity: 0.3;
    pointer-events: none;
  }
}

.program-form__option-radio-button {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid $special_grey;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.program-form__comments {
  margin: 0 0 24px 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    margin: 0 0 27px 0;
  }
}

.program-form__textarea {
  font-family: "Oswald Regular", $arial;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;

  min-width: 280px;
  min-height: 150px;
  padding: 10px 12px 10px 15px;
  box-sizing: border-box;

  color: $special_dark-grey;

  border: 1px solid #e7e7e7;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.5;

    box-sizing: content-box;
    margin: 38px 0 42px 0;
    padding: 10px 15px 13px 18px;
  }
}

.program-form__wrapper-checkbox {
  @media (min-width: $tablet-width) {
    width: 16%;
  }
}

.program-form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.program-form__checkbox-field {
  display: block;
  box-sizing: border-box;
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid $special_grey;

  @media (min-width: $tablet-width) {
    min-width: 40px;
    min-height: 40px;
  }
}

.program-form__checkbox[type="checkbox"]:focus + .program-form__checkbox-field {
  outline: 2px solid $black;
}

.program-form__checkbox[type="checkbox"]:checked
  + .program-form__checkbox-field::before,
.program-form__checkbox[type="checkbox"]:checked
  + .program-form__checkbox-field::after {
  position: absolute;
  height: 2px;
  background-color: $basic_green;
  content: "";
}

.program-form__checkbox[type="checkbox"]:checked
  + .program-form__checkbox-field::before {
  width: 11px;
  top: 18px;
  left: 4px;
  transform: rotate(50deg);

  @media (min-width: $tablet-width) {
    width: 14px;
    top: 23px;
    left: 6px;
  }
}

.program-form__checkbox[type="checkbox"]:checked
  + .program-form__checkbox-field::after {
  width: 20px;
  top: 15px;
  left: 9px;
  transform: rotate(-51deg);

  @media (min-width: $tablet-width) {
    width: 24px;
    top: 19px;
    left: 12px;
  }
}

.program-form__form-label {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  gap: 16px;

  &:hover {
    .program-form__checkbox-field {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
      border: 1px solid #bababa;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    gap: 19px;
  }
}

.program-form__form-label--disabled {
  opacity: 0.3;
  pointer-events: none;

  .program-form__checkbox[type="checkbox"]:disabled
    + .program-form__checkbox-field {
    opacity: 0.3;
    pointer-events: none;
  }
}

.program-form__form-button-wrapper {
  margin: 0 0 32px 0;
  display: flex;
  flex-direction: column;
  gap: 21px;

  @media (min-width: $tablet-width) {
    margin: 0 0 72px 0;
    flex-direction: row;
    gap: 61px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 82px 0;
    gap: 81px;
  }
}

.program-form__submit-button {
  margin: 6px 0 0 0;

  font-family: "Oswald Regular", $arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 50%;
    padding: 16px 0;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.program-form__required-fields-text {
  align-self: center;
  font-family: $arial;

  @media (min-width: $tablet-width) {
    width: 50%;
    font-size: 16px;
  }
}
