.program-selection__wrapper {
  padding: 0 20px 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 70px 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 0 110px;
  }
}

.program-selection__title {
  margin: 0 0 37px 0;
  padding: 0;

  font-family: "Oswald Regular", $arial;
  font-size: 36px;
  font-weight: 400;
  line-height: 1;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
  }
}

.program-selection__description {
  margin: 0 0 39px 0;
  padding: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
  }
}
