.program-form {
  padding: 0;

  display: flex;
  flex-direction: column;
}

.program-form__fieldset {
  margin: 0 0 25px 0;
  padding: 0;
  border: none;

  display: flex;
  flex-direction: column;
}

.program-form__fieldset--cat-owner {
  margin: 0;
}

.program-form__fieldset--option {
  display: flex;
  flex-direction: column;
  gap: 13px;

  padding: 22px 0 20px 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 25px 28px 25px 28px;
    border: 1px solid #e7e7e7;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
  }
}

.program-form__fieldset-wrapper {
  position: relative;
  margin: 0 0 25px 0;

  display: flex;
  flex-direction: column;

  @media (max-width: $mobile-width-only) {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -20px;
      width: 100vw;
      height: 1px;
      background-color: #d9d9d9;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 75px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 69px 0;
    flex-direction: row;
    gap: 80px;
  }
}

.program-form__fieldset--pet-info {
  position: relative;
  margin: 0;
  // width: 100%;
  flex-grow: 1;
  padding: 0 0 9px 0;

  @media (max-width: $mobile-width-only) {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -20px;
      width: 100vw;
      height: 1px;
      background-color: #d9d9d9;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;

    gap: 20px;
  }
}

.program-form__fieldset--pet-info .program-form__wrapper {
  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.program-form__fieldset--checkbox {
  gap: 12px;

  @media (min-width: $tablet-width) {
    margin: 0 0 54px 0;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    column-gap: 124px;
    row-gap: 32px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 61px 0;
    flex-wrap: nowrap;
    gap: 105px;
  }
}

.program-form__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  margin: 0 0 14px 0;
  width: 100%;
  max-width: 628px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    max-width: 647px;
  }
}

.program-form__fieldset--cat-owner-wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;

  @media (min-width: $tablet-width) {
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 78px;
  }
}

.program-form--cat-owner-data {
  margin: 0;
}

.program-form__label {
  color: $special_dark-grey;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.program-form__label--age {
  letter-spacing: -0.8px;
}

.program-form__input {
  font-family: "Oswald Regular", $arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  flex-grow: 1;

  color: $special_dark-grey;

  padding: 12px 15px;
  border: 1px solid $special_grey;

  @media (min-width: $tablet-width) {
    padding: 12px 20px;

    font-size: 20px;
  }
}

.program-form__title {
  display: inline;
  background-color: $white;
  margin: 0;
  padding: 0 22px 0 0;

  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;

  @media (min-width: $tablet-width) {
    padding: 0 39px 0 39px;
    margin-left: -39px;

    font-size: 36px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px 0 40px;
    margin-left: -40px;
  }
}

.programm-form__title-wrapper {
  position: relative;
  margin: 0 0 37px 0;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: $basic_green;

    top: 50%;
    left: 20px;
    z-index: -1;

    @media (min-width: $tablet-width) {
      left: 70px;
    }

    @media (min-width: $desktop-width) {
      left: 110px;
    }
  }

  @media (min-width: $tablet-width) {
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      background-color: $basic_green;

      top: 50%;
      left: -110px;
      z-index: -1;
    }
  }
}

.program-form__option {
  position: relative;
}

.program-form__option-label {
  position: relative;
  color: $special_dark-grey-2;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.12;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  gap: 16px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.program-form__option-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.program-form__option-input[type="radio"]:checked
  + .program-form__option-radio-button::before {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: $basic_green;
  content: "";

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
  }
}

.program-form__option-input[type="radio"]:checked
  + .program-form__option-radio-button {
  outline: 1px solid $basic_green;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.program-form__option-input[type="radio"]:focus
  + .program-form__option-radio-button {
  outline: 2px solid $black;
}

.program-form__option-radio-button {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid $special_grey;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);

  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
  }

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.program-form__comments {
  margin: 0 0 23px 0;
  display: flex;
  flex-direction: column;
}

.program-form__textarea {
  font-family: "Oswald Regular", $arial;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;

  min-width: 280px;
  min-height: 150px;
  padding: 10px 12px 10px 15px;
  box-sizing: border-box;

  color: $special_dark-grey;

  border: 1px solid #e7e7e7;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.5;
  }
}

.program-form__wrapper-checkbox {
  @media (min-width: $tablet-width) {
    width: 33%;
  }
}

.program-form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.program-form__checkbox-field {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid $special_grey;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.program-form__checkbox[type="checkbox"]:checked
  + .program-form__checkbox-field::before,
.program-form__checkbox[type="checkbox"]:checked
  + .program-form__checkbox-field::after {
  position: absolute;
  height: 2px;
  background-color: $basic_green;
  content: "";
}

.program-form__checkbox[type="checkbox"]:checked
  + .program-form__checkbox-field::before {
  width: 11px;
  top: 18px;
  left: 4px;
  transform: rotate(50deg);

  @media (min-width: $tablet-width) {
    width: 14px;
    top: 23px;
    left: 6px;
  }
}

.program-form__checkbox[type="checkbox"]:checked
  + .program-form__checkbox-field::after {
  width: 20px;
  top: 15px;
  left: 9px;
  transform: rotate(-51deg);

  @media (min-width: $tablet-width) {
    width: 24px;
    top: 19px;
    left: 12px;
  }
}

.program-form__form-label {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  gap: 16px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    gap: 19px;
  }
}

.program-form__form-button-wrapper {
  margin: 0 0 32px 0;
  display: flex;
  flex-direction: column;
  gap: 21px;

  @media (min-width: $tablet-width) {
    margin: 0 0 72px 0;
    flex-direction: row;
    gap: 61px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 82px 0;
    gap: 81px;
  }
}

.program-form__submit-button {
  margin: 0;

  font-family: "Oswald Regular", $arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 50%;
    padding: 16px 0;
  }
}

.program-form__required-fields-text {
  align-self: center;

  @media (min-width: $tablet-width) {
    width: 50%;
  }
}
