.social-academy {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: none;

  @media (min-width: $tablet-width) {
    width: 33%;
    justify-content: flex-end;
    gap: 22px;
  }
}

.social-academy__link {
  color: #666666;
  text-decoration: none;

  &:hover {
    color: $basic_green;
  }

  &:active {
    opacity: 0.3;
  }
}


.social-academy__item--title:hover ~ .social-academy__item--logo .social-academy__image {
  @media (min-width: $tablet-width) {
    color: $basic_green;
  }
}
