.social-contacts {
  background-color: $basic_grey;
}

.social-contacts__wrapper {
  padding: 39px 20px 32px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  @media (min-width: $tablet-width) {
    padding: 63px 30px 60px 30px;
    // justify-content: space-around;
    flex-direction: row;
    // gap: 140px;
  }

  @media (min-width: $desktop-width) {
    padding: 110px 30px 62px 110px;
  }
}

.social-contacts__wrapper > * {
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.social-contacts__logo {
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 31px;

  @media (min-width: $tablet-width) {
    padding: 0;
    justify-content: start;
  }
}
