.social-academy {
  width: 100%;
  min-width: 280px;
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: none;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }
}

.social-academy__link {
  text-decoration: none;
}
