.social-list {
  width: 100%;
  margin: 0;
  padding: 4px 0 17px 0;
  list-style: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;

  @media (min-width: $tablet-width) {
    width: 33%;
    padding: 0;
  }
}

.social-list__link {
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
  color: #666666;

  &:hover {
    color: $basic_green;
  }

  &:active {
    opacity: 0.3;
  }
}
