.store-location {
  background-color: $white;
  color: #111111;

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.store-location--background-dark {
  background-color: $basic_grey;
}

.store-location__wrapper {
  padding: 26px 20px;
  display: flex;
  flex-direction: row;

  @media (min-width: $tablet-width) {
    padding: 60px 70px 63px 70px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 565px;
    position: absolute;
    background-color: $white;
    top: 25%;
    left: 110px;
  }
}

.store-location__title {
  width: 50%;
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;

    font-weight: 400;
    line-height: 1.3;
  }
}

.store-location__address {
  width: 50%;
  color: $special_dark-grey;

  font-family: $arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42;

  @media (min-width: $tablet-width) {
    width: 25%;
    text-align: right;
    font-family: $arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.store-location__address-street {
  margin: 0;
  padding: 0;
}

.store-location__address-city {
  margin: 0;
  padding: 0;
}

.store-location__map-iframe {
  border: none;
  display: block;

  min-width: 320px;
  width: 100%;
  min-height: 362px;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }
}
