// Viewports

$tablet-width: 768px;
$laptop: 1024px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
$mobile-l-size: 425px;

// Colors

$basic_green: #68b738;
$basic_green2: #5eaa2f;
$basic_grey: #f2f2f2;
$special_dark-grey: #444444;
$special_dark-grey-2: #222222;
$black: #000000;
$white: #ffffff;
$special_grey: #cdcdcd;
$special_grey-2: #ebebeb;
$status_error: #ff8282;

//Fonts

$arial: "Arial", sans-serif;
