.button {
  padding: 10px 0;

  border: none;
  background-color: $basic_green;
  color: $white;

  font-family: "Oswald Regular", $arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  transition: background-color 0.3s;

  &:hover {
    background-color: $basic_green2;
  }

  &:active {
    opacity: 0.3;
  }
}
