@import "./fonts.scss";
@import "./visually-hidden.scss";
@import "./global/variables.scss";
@import "./button.scss";
@import "./blocks/page.scss";
@import "./blocks/main-header.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/main-nav-list.scss";
@import "./blocks/main-container.scss";
@import "./blocks/functional-food.scss";
@import "./blocks/food-category.scss";
@import "./blocks/card.scss";
@import "./blocks/about.scss";
@import "./blocks/about-list.scss";
@import "./blocks/live-example.scss";
@import "./blocks/live-example-plate.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/store-location.scss";
@import "./blocks/social-contacts.scss";
@import "./blocks/social-list.scss";
@import "./blocks/social-academy.scss";
@import "./blocks/program-selection.scss";
@import "./blocks/program-form.scss";
@import "./blocks/catalog-container.scss";
@import "./blocks/catalog.scss";
@import "./blocks/catalog-list.scss";
@import "./blocks/description-list.scss";
@import "./blocks/additional.scss";
@import "./blocks/additional-list.scss";

img {
  max-width: 100%;
  height: auto;
}
